.course table{
    width: 100%;
    text-align: center;
}
body{
    font-family: 'Vazir', sans-serif !important;
}
.course table thead th{
    background-color: #eee;
    font:bold;
    color: blue;
}
.course table tbody td{
    text-align: center;
    margin: 10px;
    padding: 10px;
    
}
.course table tbody td button{
    width: 80px;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    border: none;
}
table thead th {
    height: 50px;
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
  th, td {
    background-color: #96D4D4;
  }

