.Top-header{
    background-color: #eee;
    box-shadow: 0px 0px 5px 0px black;
    /* position: -webkit-sticky; 
    position: sticky;
    top: 0; */
    
}
.Header{
    position: relative;
    justify-content: space-between;
    display:flex;

}
.Header .Header-part1{
   position: relative;
   justify-content: space-evenly;
   display: flex;
   gap: 20px;
   
}
.Header .Header-item{
    color: black;
    text-decoration: none;
    cursor: pointer;
    font: bold;
   font-size: large;
}

